<p-card>
    <ng-template pTemplate="header">
        <app-header-page title="Planilha - {{ month.monthDescription }}/{{ month.year }}">
            <a pButton pRipple type="button" label="Voltar" icon="pi pi-arrow-left" routerLink="/authpages/month"
                routerLinkActive="router-link-active"></a>
        </app-header-page>
    </ng-template>
    <p-panel [toggleable]="true">
        <p-header>
            <div align="left" style="color: var(--primary-color);">
                <h6>
                    <strong><i class="pi pi-cog"></i> Filtros</strong>
                </h6>
            </div>
        </p-header>

        <div class="row">
            <div class="col-md-12">
                <div align="right">
                    <button pButton pRipple type="button" label="Pesquisar" icon="pi pi-search"
                        (click)="paginate();"></button>
                    &nbsp;
                    <button pButton pRipple type="button" label="Ver Lançamentos" icon="pi pi-eye"></button>
                    &nbsp;
                    <button pButton pRipple type="button" label="Preencher" icon="pi pi-check-square"></button>
                    &nbsp;
                    <button pButton pRipple type="button" label="Limpar filtros" (click)="buildForm(); paginate();"
                        icon="pi pi-spin pi-spinner"></button>
                </div>
            </div>
        </div>
    </p-panel>
    <br>
    <p-card>
        <app-table [resources]="resources" [filter-form]="filterForm" (paginate)="paginate($event)">
            <table class="table">
                <thead>
                    <tr class="table-bootstrap-head">
                        <th>Código</th>
                        <th>Mês</th>
                        <th>Ano</th>
                        <th>Valor débito</th>
                        <th>Valor esperado débito</th>
                        <th>Valor crédito</th>
                        <th>Valor esperado crédito</th>
                        <th>
                            <div align="center">Ações</div>
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="resources">
                    <tr class="table-bootstrap-body" *ngFor="let rowData of
                        resources.content">
                        <td data-title="Código">
                            {{ rowData.id }}
                        </td>
                        <td data-title="Mês">
                            {{ rowData.monthDescription | valueOrTrace }}
                        </td>
                        <td data-title="Ano">
                            {{ rowData.year | valueOrTrace }}
                        </td>
                        <td data-title="Valor débito">
                            {{ rowData.amountDebt | currency:'BRL':true:'1.2-2' }}
                        </td>
                        <td data-title="Valor esperado débito">
                            {{ rowData.expectedValueDebt | currency:'BRL':true:'1.2-2' }}
                        </td>
                        <td data-title="Valor crédito">
                            {{ rowData.amountCredit | currency:'BRL':true:'1.2-2' }}
                        </td>
                        <td data-title="Valor esperado crédito">
                            {{ rowData.expectedValueCredit | currency:'BRL':true:'1.2-2' }}
                        </td>
                        <td data-title="Ação">
                            <div align="center">
                                <!-- 
                                <a pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded"
                                    [routerLink]="['/authpages/item/', rowData.id]" pTooltip="Ver"
                                    tooltipPosition="top">
                                </a>
                                &nbsp;
                                <button title="Inativar" pButton pRipple type="button" icon="pi pi-times"
                                    class="p-button-rounded p-button-danger"
                                    (click)="activateOrDeactivate(rowData.id, false)" *ngIf="rowData.enabled">
                                </button>
                                <button title="Ativar" pButton pRipple type="button" icon="pi pi-check"
                                    class="p-button-rounded p-button-success"
                                    (click)="activateOrDeactivate(rowData.id, true)" *ngIf="!rowData.enabled">
                                </button> -->
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </app-table>
    </p-card>
</p-card>